<header><%= link_to 'about', about_path %>
<%= link_to 'contact', contact_path %>
<%= link_to 'products', products_path %></header>

<h1>Eco-Friendly Cleaning Supplies</h1>
 Here at Eco-Friendly Cleaning Supplies we believe in providing top tier cleaning supplies that:
1. don't break the bank and 2. don't harm the enviornment. 

<h3> Feel free to puruse our <%= link_to 'products', products_path %> or if you are in need of a larger order get in contact with <%= link_to 'Mike Jone$', contact_path %> </h3>